  <footer class="blog-footer col d-flex">
    <div class="cover-container d-flex w-100 justify-content-center">
      <div class="row d-flex w-100">
        <div class="col-md-3 d-flex justify-content-left text-left">
          <%= render "shared/nav", location: 'bottom' %>
        </div>

        <div class="col-md-6 text-center justify-content-center display-flex">
          <%= source_helper("blogs") %>

          <p>
          <a href="#">Back to top</a>
          </p>

          <br>

          <p>Blog template built with <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/MarkPopwell">@MarkPopwell</a>.</p>

        </div>

        <div class="col-md-3 d-flex justify-content-end">
          <p>something here</p>
        </div>
      </div> 
    </div>
  </footer>