<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h5 class="float-md-start mb-0">by Mark Popwell</h5>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <%= render "shared/application_nav" %>
      </nav>
    </div>
  </header>
</div>

<h1>About Me</h1><head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      img {
        width: 400px;
        float: right;
        margin-left: 20px;
      }

      p.username {
        font-style: oblique;
        font-size: 24px;
        text-decoration: underline;
      }
      h1 {
        font-size: 36px;
        font-style: italic;
        border: double;
        display: flex;
        justify-content: center;
        text-shadow: 2px 2px 4px #000000;
      }
      h2 {
        color: aliceblue;
        text-shadow: 2px 2px 4px #000000;
        text-decoration: underline;
      }
      h4 {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #888888;
        display: flex;
        justify-content: center;
        color: #92a8d1;
      }

      .other {
        column-count: 4;
      }
    </style>
  </head>
  <body>
    <img
      src="../images/JeepbyRiver.png"
      alt="You Don't get to see the jeep by the river"
    />
    <img
      src="../images/IMG_0482.JPG"
      alt="You Don't get to see her by the river either"
    />
    <p class="username">Biography & Interests:</p>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
      incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Aspernatur repellendus officiis sapiente, incidunt quod veniam tempora
      consequatur error, voluptas, nesciunt maiores quo quam earum repudiandae
      est modi doloremque temporibus eos ad. Odit labore, rerum nemo inventore
      sapiente natus, cupiditate amet nesciunt voluptas odio minima vero iste.
      Sunt, cumque asperiores! Magni nam possimus deserunt porro nihil, deleniti
      dolores esse reiciendis molestiae id adipisci dicta. Perferendis minus aut
      provident dicta, quasi consequatur dolores iusto similique vero
      voluptatibus earum quas vel id illum quia nesciunt voluptate ut nemo
      debitis ea tenetur neque! Voluptate magni praesentium eos adipisci, hic
      nisi amet eligendi eum odit minima maxime obcaecati vitae facilis id
      reiciendis repudiandae ducimus repellat ipsam explicabo sequi ratione.
      Quas ullam fugiat minima facere quia, ipsa rem perspiciatis eius odio
      excepturi nemo dolorum illo, voluptatum dolorem ea atque magni impedit
      pariatur. Veniam distinctio odio facere totam deleniti labore vel. Ullam
      error debitis facilis consectetur nisi magnam ut itaque quasi.
      Voluptatibus mollitia ipsam eius autem eaque dolor quae nobis quis quidem
      optio saepe eos incidunt, quo qui ratione inventore distinctio. Harum
      accusantium quasi, quibusdam voluptates iusto, fugit cum, iure repellendus
      vitae dolore voluptatibus rerum voluptate. Nemo, perspiciatis mollitia
      laboriosam cum vitae explicabo cumque dolores repudiandae enim.
    </p>
    <h2>Some Other Cool Features:</h2>
    <div class="other">
      Aspernatur repellendus officiis sapiente, incidunt quod veniam tempora
      consequatur error, voluptas, nesciunt maiores quo quam earum repudiandae
      est modi doloremque temporibus eos ad. Odit labore, rerum nemo inventore
      sapiente natus, cupiditate amet nesciunt voluptas odio minima vero iste.
      Sunt, cumque asperiores! Magni nam possimus deserunt porro nihil, deleniti
      dolores esse reiciendis molestiae id adipisci dicta. Perferendis minus aut
      provident dicta, quasi consequatur dolores iusto similique vero
      voluptatibus earum quas vel id illum quia nesciunt voluptate ut nemo
      debitis ea tenetur neque! Voluptate magni praesentium eos adipisci, hic
      nisi amet eligendi eum odit minima maxime obcaecati vitae facilis id
      reiciendis repudiandae ducimus repellat ipsam explicabo sequi ratione.
      Quas ullam fugiat minima facere quia, ipsa rem perspiciatis eius odio
      excepturi nemo dolorum illo, voluptatum dolorem ea atque magni impedit
      pariatur. Veniam distinctio odio facere totam deleniti labore vel. Ullam
      error debitis facilis consectetur nisi magnam ut itaque quasi.
      Voluptatibus mollitia ipsam eius autem eaque dolor quae nobis quis quidem
      optio saepe eos incidunt, quo qui ratione inventore distinctio. Harum
      accusantium quasi, quibusdam voluptates iusto, fugit cum, iure repellendus
      vitae dolore voluptatibus rerum voluptate. Nemo, perspiciatis mollitia
      laboriosam cum vitae explicabo cumque dolores repudiandae enim.
    </div>
    <h4>Even More still . . . once I learn JavaScript . .</h4>
  </body>
</html>

<hr>

<%= sample_helper %>
