@import "bootstrap";
@import "font-awesome";

/* stylelint-disable selector-list-comma-newline-after */

/*
 * Header
 */

 /** set up our navbar, and position it fixed so there is no white gap above the CS content **/

.application_nav {
  border: none;
  box-shadow: none;
  transition: background 0.7s ease-out;
  background: whitesmoke!important;
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
}

.nav-link:hover {
  text-decoration: underline;
  font-size: 24px;
}



.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 1.5rem;
  color: #727272;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

body {
	background-color: whitesmoke;
}

.bottom a:hover {
  color: darkred;
}


/*
 * Custom Styles
 */

.bottom a {
  color: red;
}

h1 {
    font-size: 36px;
    font-style: italic;
    border: double;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 5px 5px #000000;
  }

.social-links li {
  font-size: 2.5rem;
}